version: "2.1"
services:
  app:
    container_name: node-backend
    restart: always
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports: 
      - "8090:8080"
    links:
      - mongo
    depends_on:
      - mongo
    command: ["./wait-for-it.sh", "mongo:27017", "--", "yarn", "start"]
    env_file:
      - .env

  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
